<header>
  <h6>Next Three Holidays</h6>
  <% HolidaySearch.new.holidays.each do |holiday| %>
    <%= holiday.name %><br>
    <%= holiday.date %><br>
  <% end %>
</header>

<% @merchant_discounts.each do |discount| %>
  <p>Discount <%= discount.percentage_discount %>0%
  Items needed to purchase for discount: <%= discount.quantity_threshold %>
  <%= link_to "Discount #{discount.id} information", merchant_discount_path(discount.merchant, discount), style: 'pull-right' %> </p>
<% end %>


<%= link_to "New Discount", new_merchant_discount_path(params[:merchant_id]), style: 'pull-right' %>
